@model Amazonweb.Models.KeywordResearchModel

@{
    /**/

    ViewBag.Title = "KeywordAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{

    Amazonweb.Models.UserModel user = new Amazonweb.Models.UserModel();
    user.Id = new Guid();
    user.UserName = ViewBag.UserName;
}

@Html.Partial("~/Views/Shared/PartialView/_HeaderPartial.cshtml", user)*@
<h2>KeywordAdd</h2>
@using (Html.BeginForm("KeywordUpload", "KeywordResearch", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>KeywordResearchModel</h4>
        <hr />
        <div class="form-group">

            @Html.Label("UploadExcelFile", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h3 style="color:red;">
                    @ViewBag.Message
                </h3>
                <input type="file" id="FileUploadKeyword" name="FileUploadKeyword" />
                <input type="submit" value="KeywordUpload" />
                <a href="/KeywordResearch/DownloadExcel">Sample File Download</a>
            </div>
        </div>
    </div>
}
