
@{
    ViewBag.Title = "DomainExpire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DomainExpire</h2>

<table border="1">
    <tr>
        <td>A/c has been expire </td>
        <td> @Html.ActionLink("Subscribe Now", "Subscribe", "Home")</td>
    </tr>
</table>
