
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutTemplate1.cshtml";
}
<!DOCTYPE html>
<script src="~/TemplateThemes/commantemplate/commonFile.js"></script>
<html>
<head>
    <script type="text/javascript">
        //function GetQueryStringParameter() {
        //    var userId = getUserId();
        //    //console.log(userId);
        //    GetProductAsinIndex(userId);
        //}
        function GetQueryStringParameter() {
            var userId = getUserId();
       
            GetProductAsinAllProducts(userId);
        }

        $(document).ready(function () {
            GetQueryStringParameter();
            // var getListAsin = GetProductAsin();
            // GetQueryStringParameter()
        });

    </script>
</head>
</html>
<h2>Product</h2>

