@model  Amazonweb.Models.SidebarPartialModel
<div class="am-sideleft">
    @{
        Int64 PlanId = 0;
        string PalnPendingDay = "";
        String PanelExpire = "NOT";
    }
    @foreach (var item in ViewBag.UserSubscribePlain)
    {
        PlanId = @item.PlanId;
        PalnPendingDay = item.PendingDay;
        PanelExpire = item.PanelExpire;
    }
    <ul class="nav am-sideleft-tab">
        <li class="nav-item" style="width:100%;">
            <a href="#mainMenu" class="nav-link active"> Plain Pending Day @PalnPendingDay   Expire Panel @PanelExpire </a>
        </li>

    </ul>
    <div class="tab-content">
        <div id="mainMenu">

            <ul class="nav am-sideleft-menu">
                @{ if (PlanId == 0)
                    {
                        <li class="nav-item">
                            <a href="~/Home/Index" class="nav-link active">
                                <i class="icon ion-ios-home-outline"></i>
                                <span>Dashboard</span>
                            </a>
                        </li><!-- nav-item -->
                        <li class="nav-item">
                            <a href="~/Home/CheckScore" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Check Product Score</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="~/Home/Subscribe" class="nav-link active">
                                <i class="icon ion-ios-home-outline"></i>
                                <span>Subscribe</span>
                            </a>
                        </li><!-- nav-item -->
                    }
                }
                @{ if (PlanId == 1)
                    {

                    }
                }
                @{
                    if (PlanId == 1 || PlanId == 2)
                    {

                        <li class="nav-item">
                            <a href="~/Home/Index" class="nav-link active">
                                <i class="icon ion-ios-home-outline"></i>
                                <span>Dashboard</span>
                            </a>
                        </li><!-- nav-item -->
                        <li class="nav-item">
                            <a href="~/Home/CheckScore" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Check Product Score</span>
                            </a>
                        </li>
                        <li class="amz-find">
                            <span>Find Best.....</span>
                        </li>
                        <li class="nav-item">
                            <a href="~/KeywordResearch/KeywordList" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Keyword Search</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Home/GetAmazonProduct" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Amazon Search Product</span>
                            </a>
                        </li>
                        <li class="amz-find">
                            <span>Go Online With Us.....</span>
                        </li>
                        <li class="nav-item">
                            <a href="~/UserAbout/AboutsList" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>About Company</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="~/UserProduct/Products" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Add Product</span>
                            </a>

                        </li>
                        @*<li class="nav-item">
                                <a href="~/UserProduct/SearchProduct" class="nav-link">
                                    <i class="icon ion-ios-gear-outline"></i>
                                    <span>Search Product</span>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a href="~/ActiveTemplate/TemplateList" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Choose Web Template</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="~/KeywordResearch/KeywordAdd" class="nav-link">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Keyword Add</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item premium"><a href="">Kindly Subscribe Plain</a></li>
                    }
                }


                @*<li class="nav-item">
                        <a href="" class="nav-link with-sub">
                            <i class="icon ion-ios-gear-outline"></i>
                            <span>Forms</span>
                        </a>
                        <ul class="nav-sub">

                            <li class="nav-item"><a href="form-elements.html" class="nav-link">Form Elements</a></li>
                            <li class="nav-item"><a href="form-layouts.html" class="nav-link">Form Layouts</a></li>
                            <li class="nav-item"><a href="form-validation.html" class="nav-link">Form Validation</a></li>
                            <li class="nav-item"><a href="form-wizards.html" class="nav-link">Form Wizards</a></li>
                            <li class="nav-item"><a href="form-editor-text.html" class="nav-link">Text Editor</a></li>
                        </ul>
                    </li>*@
                <!-- nav-item -->
                @*<li class="nav-item">
                        <a href="" class="nav-link with-sub">
                            <i class="icon ion-ios-filing-outline"></i>
                            <span>UI Elements</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="accordion.html" class="nav-link">Accordion</a></li>
                            <li class="nav-item"><a href="alerts.html" class="nav-link">Alerts</a></li>
                            <li class="nav-item"><a href="buttons.html" class="nav-link">Buttons</a></li>
                            <li class="nav-item"><a href="cards.html" class="nav-link">Cards</a></li>
                            <li class="nav-item"><a href="icons.html" class="nav-link">Icons</a></li>
                            <li class="nav-item"><a href="modal.html" class="nav-link">Modal</a></li>
                            <li class="nav-item"><a href="navigation.html" class="nav-link">Navigation</a></li>
                            <li class="nav-item"><a href="pagination.html" class="nav-link">Pagination</a></li>
                            <li class="nav-item"><a href="popups.html" class="nav-link">Tooltip &amp; Popover</a></li>
                            <li class="nav-item"><a href="progress.html" class="nav-link">Progress</a></li>
                            <li class="nav-item"><a href="spinners.html" class="nav-link">Spinners</a></li>
                            <li class="nav-item"><a href="typography.html" class="nav-link">Typography</a></li>
                        </ul>
                    </li>*@
                <!-- nav-item -->
                @*<li class="nav-item">
                        <a href="" class="nav-link with-sub">
                            <i class="icon ion-ios-analytics-outline"></i>
                            <span>Charts</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="chart-morris.html" class="nav-link">Morris Charts</a></li>
                            <li class="nav-item"><a href="chart-flot.html" class="nav-link">Flot Charts</a></li>
                            <li class="nav-item"><a href="chart-chartjs.html" class="nav-link">Chart JS</a></li>
                            <li class="nav-item"><a href="chart-rickshaw.html" class="nav-link">Rickshaw</a></li>
                            <li class="nav-item"><a href="chart-sparkline.html" class="nav-link">Sparkline</a></li>
                        </ul>
                    </li>*@
                <!-- nav-item -->
                @*<li class="nav-item">
                        <a href="" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Maps</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="map-google.html" class="nav-link">Google Maps</a></li>
                            <li class="nav-item"><a href="map-vector.html" class="nav-link">Vector Maps</a></li>
                        </ul>
                    </li>*@
                <!-- nav-item -->
                @*<li class="nav-item">
                        <a href="" class="nav-link with-sub">
                            <i class="icon ion-ios-list-outline"></i>
                            <span>Tables</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="table-basic.html" class="nav-link">Basic Table</a></li>
                            <li class="nav-item"><a href="table-datatable.html" class="nav-link">Data Table</a></li>
                        </ul>
                    </li>*@
                <!-- nav-item -->
                @*<li class="nav-item">
                        <a href="" class="nav-link with-sub">
                            <i class="icon ion-ios-bookmarks-outline"></i>
                            <span>Pages</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="blank.html" class="nav-link">Blank Page</a></li>
                            <li class="nav-item"><a href="page-signin.html" class="nav-link">Signin Page</a></li>
                            <li class="nav-item"><a href="page-signup.html" class="nav-link">Signup Page</a></li>
                            <li class="nav-item"><a href="page-notfound.html" class="nav-link">404 Page Not Found</a></li>
                        </ul>
                    </li>*@
                <!-- nav-item -->
                @*<li class="nav-item">
                        <a href="widgets.html" class="nav-link">
                            <i class="icon ion-ios-briefcase-outline"></i>
                            <span>Widgets</span>
                        </a>
                    </li>*@
                <!-- nav-item -->
            </ul>
        </div><!-- #mainMenu -->

    </div><!-- tab-content -->
</div><!-- am-sideleft -->
